# Maven
target/
!target/ROOT.war
*.jar
*.war
*.ear
*.class
.mtj.tmp/
.mvn/wrapper/maven-wrapper.jar

# Logs
logs/
*.log

# OS specific
.DS_Store
Thumbs.db

# IDE files
.idea/
*.iml
*.iws
*.ipr
.classpath
.project
.settings/
.vscode/

# Git
.git/
.gitignore

# Docker
.dockerignore
docker-compose.yml